<mat-card>
    <div style="width: 100%; text-align: center">
        <h1>Pregunta {{contador + 1}}/3</h1>
    </div>
    <mat-card>
        <h2>{{preguntas[contador].pregunta}}</h2>
        <mat-radio-group class="example-radio-group" [(ngModel)]="opcionElegida">
            <mat-radio-button class="example-radio-button" *ngFor="let opcion of preguntas[contador].opciones" [value]="opcion">
                {{opcion.opcion}}<br/>
            </mat-radio-button>
        </mat-radio-group>
        <mat-card-footer style="width: 100%; text-align: right">
            <button mat-raised-button [disabled]="!opcionElegida" (click)="validarOpcion()">Siguiente pregunta</button>
        </mat-card-footer>
    </mat-card>
</mat-card>
