<app-loader></app-loader>
<app-toolbar></app-toolbar>
<main class="inlineFlex body">
<!--  SECCION DE CONTACTOS-->
  <section class="contacts">
    <div class="headerContacts">
      <H2>CONTÁCTOS</H2>
    </div>
    <div class="contactCard">
      <div class="inlineFlex">
        <div class="contactPhoto">
          <span class="material-icons iconPerson">person</span>
        </div>
        <h4>Contact Name</h4>
      </div>
      <div class="inlineFlex">
        <span class="status">
        {{nombreEstado}}
      </span>
        <div id="statusBallId" class="statusBall"></div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span class="material-icons icon">block</span>
          <span>Bloquear</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Silenciar</span>
        </button>
      </mat-menu>
    </div>
  </section>

<!--  SECCION DEL CHAT-->
  <section class="chatBox">
    <header class="headerChat inlineFlex">
      <div class="logoContainer"></div>
      <p class="chatTitle">Matchat</p>
      <p class="clientName">Aqui se mostrará el nombre del cliente</p>
    </header>
    <section class="chatSection">
      <div class="backAnimation">
        <div class="wrapper">
          <div class="square1"></div>
          <div class="square2"></div>
          <div class="square3"></div>
        </div>
      </div>
      <div id="speechBubbleLeft">
        <p>
          Este es un ejemplo de speech bubble en el nuevo sistema de mensajeria de TRIGARANTE 2020
          en el que se muestra esta estructura.
        </p>
      </div>
      <div id="speechBubbleRight">
        <p>
          La animacion de escritura fue creada desde cero solo con scss para aligerar cargas,
          asi como para mejorar la experiencia de usuario y la interfaz de usuario.
        </p>

        <!--        EVENTOS DE ESTADOS POR MENSAJE-->
        <div>
          <div id="estados1">
            <span class="material-icons sent-icon">done</span>
          </div>
          <div id="estados2">
            <span class="material-icons recived-icon">done</span>
            <span class="material-icons recived-icon2">done</span>
          </div>
          <div id="estados3">
            <span class="material-icons see-icon">done</span>
            <span class="material-icons see-icon2">done</span>
          </div>
          <div id="esperandoRed">
            <span class="material-icons esperandoRed-icon">alarm</span>
          </div>
        </div>

      </div>
    </section>
    <div class="actions inlineFlex">
      <label for="file">
        <span  class="material-icons icon-files">attach_email</span>
      </label>
      <input hidden id="file" type="file">
      <input type="text" class="inputMsg" placeholder=" TRIGARANTE 2020">
      <span matTooltip="Enviar mesaje" class="material-icons icon-send">send</span>
      <span (click)="actionsToRecorder()" id="microphone" matTooltip="Grabar Audio" class="material-icons icon-mic">settings_voice</span>
      <div class="inlineFlex" id="recordOptions">
        <div (click)="cancelAudio()" matTooltip="Cancelar" class="circleCancel"><span class="material-icons iconCancel">close</span></div>
        <div class="circleRecord parpadea1"></div><p class="recordText parpadea2">Grabando: <p class="recordText">{{counter * 1000 | date: 'mm:ss' }}</p>
        <div (click)="sendAudio()" matTooltip="Enviar" class="circleConfirm"><span class="material-icons iconConfirm">done</span></div>
      </div>
    </div>
  </section>
</main>
