<mat-card>
    <div style="width: 100%; text-align: center">
        <h1>Examenes pendientes</h1>
    </div>
    <mat-card class="cardExamen" matTooltip="Comenzar examen" routerLink="../en-proceso" *ngIf="!examenContestdo; else noHayExamen">
        <h2>Primer examen</h2>
        <h3>Descripción</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida ultrices enim, id ullamcorper turpis lacinia ultrices. Integer volutpat lacus sed turpis tempor condimentum. Proin pharetra sit amet quam nec malesuada. Suspendisse potenti. Proin quis volutpat nibh. Aliquam condimentum urna eu sem pharetra suscipit.
        </p>
        <p>
            Fecha límite: 03-01-2021 15:30
        </p>
    </mat-card>
    <ng-template #noHayExamen>
        <h3>No tienes examenes pendientes</h3>
    </ng-template>
</mat-card>
