<!--HEADER-->
<div *ngIf="isLoggedIn | async">
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <a routerLink="/dashboard">
      <p class="title-for-toolBar">TRIGARANTE 2020</p>
    </a>
    <span class="material-icons logOut" (click)="logOut()" matTooltip="Cerrar sesión de {{userSessionStorage}}">power_settings_new</span>

    <div class="spacer">
      <span class="material-icons lector" matTooltip="Asistente de lectura" [ngClass]="lector? '' : 'whiteemoji'"
            (click)="activarHablar()">speaker_notes
      </span>
    </div>

    <div id="hamburger" class="menu-icon-container" [ngClass]="menuOpen? 'hamburglar is-open': 'hamburglar is-closed'"
         (click)="toggleMenu()">
      <div class="burger-icon">
        <div class="burger-container">
          <span class="burger-bun-top"></span>
          <span class="burger-filling"></span>
          <span class="burger-bun-bot"></span>
        </div>
      </div>

      <!-- svg ring containter -->
      <div class="burger-ring">
        <svg class="svg-ring">
          <path class="path" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="4"
                d="M 34 2 C 16.3 2 2 16.3 2 34 s 14.3 32 32 32 s 32 -14.3 32 -32 S 51.7 2 34 2"/>
        </svg>
      </div>
      <!-- the masked path that animates the fill to the ring -->

      <svg width="0" height="0">
        <mask id="mask">
          <path xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#ff0000" stroke-miterlimit="10" stroke-width="4"
                d="M 34 2 c 11.6 0 21.8 6.2 27.4 15.5 c 2.9 4.8 5 16.5 -9.4 16.5 h -4"/>
        </mask>
      </svg>
      <div class="path-burger">
        <div class="animate-path">
          <div class="path-rotation"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="content" role="main">
    <!--menu-->
    <menu [ngClass]="menuOpen?'visible':'success'">
      <aside>
        <ul>
          <!--          MODULO DE RH-->
          <div class="menuPrincipal">
            <li class="elementos-del-menu-1" (click)="openHijo($event)"><span class="material-icons menuIcons">how_to_reg</span>
              SIMULADORES
              <div class="menu-hijo">
                <ul>
                  <li>EXAMENES
                    <div class="menu-nieto">
                      <ul>
                        <li><a routerLink="/simulador/examenes/pendientes">PENDIENTES</a></li>
                        <li><a routerLink="/simulador/examenes/historico">HISTÓRICO</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
              <!--<div class="menu-hijo">
                <ul>
                  <li><a routerLink="/simulador/examenes/pendientes">PENDIENTES</a></li>
                </ul>
              </div>-->
            </li>
          </div>
        </ul>
      </aside>

      <!--      Carrusel 2-->
      <!--<div class="content-all">
        <div class="content-carrousel">
          <section>
            <div class="content-information">
              <h4>TRIGARANTE</h4>
            </div>
          </section>

          <section>
            <div class="content-information">
              <h4>PRODUCTIVIDAD</h4>
              <span class="material-icons">show_chart</span>
            </div>
          </section>

          <section>
            <div class="content-information">
              <h4>BOLETIN</h4>
              <span class="material-icons">description</span>
            </div>
          </section>

          <section>
            <div class="content-information">
              <h4>REPORTAR UN PROBLEMA</h4>
              <span class="material-icons">record_voice_over</span>
            </div>
          </section>

          <section>
            <div class="content-information">
              <h4>NOTIFICACIONES</h4>
              <span class="material-icons">notification_important</span>
            </div>
          </section>

          <section>
            <div class="content-information">
              <h4>PREGUNTAS FRECUENTES</h4>
              <span class="material-icons">contact_support</span>
            </div>
          </section>

          <section>
            <div class="content-information">
              <h4>NOTICIAS</h4>
              <span class="material-icons">public</span>
            </div>
          </section>

          <section>
            <div class="content-information">
              <h4>REPORTES</h4>
              <span class="material-icons">bar_chart</span>
            </div>
          </section>

          <section>
            <div class="content-information">
              <h4>MI PERFIL</h4>
              <span class="material-icons">face</span>
            </div>
          </section>

          <section>
            <div class="content-information">
              <h4>ACERCA DE</h4>
              <span class="material-icons">supervisor_account</span>
            </div>
          </section>
        </div>
      </div>-->
    </menu>
    <!--end menu-->
  </div>
</div >

<!--FONTSIZE SET-->
<div [ngClass]="fontSize">
</div>

