<main>
  <div class="card">
    <div class="logoContainer">
      <div class="circle"></div>
      <div class="trigarante-letra"></div>
    </div>
    <p class="textGradient">TRIGARANTE 2020</p>
    <br>
    <button (click)="loginFunction()" class="customGradientButton btn" matTooltip="Boton Degradado" mat-raised-button>INICIAR SESIÓN</button>
  </div>
</main>
