mat-nav-list {text-align: center;padding: 0;}
.actions-container {width: 96%; height: auto; padding: 10px 5px; margin: 10px 2% 10px 2%; background-color: #d4d4d4; justify-content: center; border-radius: 5px;}
.sapaceBetween{margin: 0 30px;}
