main{
  width: 100%;
  height: 100vh;
}

header{
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, #1D2671, #C33764);
  display: inline-flex;
  position: fixed;
  z-index: 100;
}

#check{
  display: none;
}

#check:checked ~ .menu{
  width: 250px;
}

.menu {
  position: fixed;
  top: 60px;
  width: 0px;
  height: 100vh;
  background: linear-gradient(to right, #1D2671, #C33764);
  transition: all 500ms cubic-bezier(1,0,0,1);
  overflow: auto;
  z-index: 100;
}

.menu li {
  list-style: none;
  line-height: 50px;
  color: #ffffff;
  cursor: pointer;
  transition: all 300ms;
  display: block;
  width: 400px;
}

.menu li:hover{
  background: rgba(0,0,0,0.2);
}

main label{
  position: relative;
  width: auto;
  top: 14px;
  font-size:26px;
  z-index: 10;
  cursor: pointer;
  color: #FFFFFF;
  left: 50px;
  transition: color linear 0.3s;
}

main label:hover{
  color: #b6cccd;
}

ul {
  padding: 0;
}

.menu-icons {
  margin-right: 10px;
  position: relative;
  top: 6px;
}

.title {
  color: #fff;
  margin-left: 60px;
  font-size: 1.5rem;
  position: relative;
  top: 16px;
}

.estados {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  height: fit-content;
  display: inline-flex;
}

.estados2 {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  height: fit-content;
  display: inline-flex;
  justify-content: center;
}

.cards-tables {
  overflow-y: scroll;
  height: fit-content;
}

.cards-tables2 {
  overflow-y: scroll;
  max-height: 400px;
  height: fit-content;
}

.txt-block {
  display: block;
  text-align: center;
}

.status {
  width: 100%;
  height: 50px;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 1rem;
}

.status2 {
  width: 100%;
  height: 50px;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 1rem;
}

//CHARTS STYLES
.pie-chart {
  background:
    radial-gradient(
        circle closest-side,
        transparent 64%,
        white 0
    ),
    conic-gradient(
        #4e79a7 0,
        #4e79a7 38%,
        #f28e2c 0,
        #f28e2c 61%,
        #e15759 0,
        #e15759 77%,
        #76b7b2 0,
        #76b7b2 87%,
        #59a14f 0,
        #59a14f 93%,
        #edc949 0,
        #edc949 100%
    );
  position: relative;
  width: 100%;
  min-height: 300px;
  margin: 0;
}

.pie-chart h2 {
  position: absolute;
  margin: 1rem;
}
.pie-chart cite {
  position: absolute;
  bottom: 0;
  font-size: 80%;
  padding: 1rem;
  color: gray;
}
.pie-chart figcaption {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: smaller;
  text-align: right;
}

.pie-chart span:after {
  display: inline-block;
  content: "";
  width: 0.8em;
  margin-left: 0.4em;
  height: 0.8em;
  border-radius: 0.2em;
  background: currentColor;
}

.ejecutivoEstadosColorsContainer {
  display: inline-flex;
  width: 100%;
  height: 25px;
  margin: 20px 0;
  justify-content: space-evenly;
  font-size: 1rem;
  align-items: center;
}

.circleEstados {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.Estado-1 {
  background-color: #7de051;
}
.Estado-2 {
  background-color: indianred;
}
.Estado-3 {
  background-color: #88e3dd;
}
.Estado-4 {
  background-color: #5bc0f5;
}
.Estado-5 {
  background-color: #f8f87a;
}


@media only screen and(max-width: 1024px) {
  .estados {
    display: inline-block;
  }
}

@media only screen and(max-width: 768px) {
  .estados {
    display: inline-block;
  }
}

@media only screen and(max-width: 420px) {
  .estados {
    display: inline-block;
  }
}

@media only screen and(max-width: 340px) {
  .estados {
    display: inline-block;
  }
}
