h1 {
  text-align: center;
  margin: 20px 0 0 0;
}

tr.mat-header-row {
  height: 56px;
  background: #36419deb;
}

table {
  width: 100%;
  margin: 0;
}
//table tr:hover  {
//  background-color: #ee6969;
//  cursor: pointer;
//  transition-delay: 0.5s ;}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

section {
  width: 800px;
  height: 30px;
  margin: 20px;
}

.controls-container {
  display: flex;
}

.example-container {
  overflow: auto;
}
.material-icons:hover {
  color: rgba(90, 90, 90, 0.82);
}
