<app-toolbar></app-toolbar>
<main>
  <h1>VISUALIZADOR DE ARCHIVOS PDF</h1>
  <!--  CONBTENEDOR GLOBAL DE ELEMENTOS-->
  <div class="global-container">
    <div class="inputs-container">
      <p class="nota">VERIFICA SI LOS DATOS SON CORRECTOS, DE NO SER ASI MARCA EL BOTÓN <b>CORREGIR</b></p>

      <p class="nota">FUNCIÓN DE LUPA</p>

      <mat-radio-group aria-label="Select an option">
        <mat-slide-toggle (click)="ponerLupita2()" #lupa >DESACTIVAR LUPA/ACTIVAR LUPA</mat-slide-toggle>
      </mat-radio-group>
      <br>

      <p class="nota">¿TODOS LOS DATOS SON LEGIBLES?</p>

      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">SI</mat-radio-button>
        <mat-radio-button #checked value="2">NO</mat-radio-button>
      </mat-radio-group>

      <form *ngIf="checked.checked" class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>DEJA UN COMENTARIO</mat-label>
          <textarea [maxLength]="50" matInput placeholder="PE. LA FOTO DEL INE SE VE BORROSA"></textarea>
        </mat-form-field>
      </form>

      <p class="nota">¿DESEAS CORREGIR DATOS?</p>

      <mat-radio-group aria-label="Select an option">
        <mat-radio-button #selectedNo value="1">NO</mat-radio-button>
        <mat-radio-button #selected value="2">SI</mat-radio-button>
      </mat-radio-group>

      <div *ngIf="selected.checked">
        <mat-form-field class="example-form-field">
          <mat-label>NOMBRE DEL CLIENTE</mat-label>
          <input [disabled]="!slideChecked.checked" matInput type="text">
        </mat-form-field>
        <mat-slide-toggle #slideChecked>CORREGIR</mat-slide-toggle>

        <mat-form-field class="example-form-field">
          <mat-label>NUMERO DE PÓLIZA</mat-label>
          <input [disabled]="!slideChecked2.checked" matInput type="text">
        </mat-form-field>
        <mat-slide-toggle #slideChecked2>CORREGIR</mat-slide-toggle>

        <mat-form-field class="example-form-field">
          <mat-label>TIPO DE PAGO</mat-label>
          <input [disabled]="!slideChecked3.checked" matInput type="text">
        </mat-form-field>
        <mat-slide-toggle #slideChecked3>CORREGIR</mat-slide-toggle>

        <mat-form-field class="example-form-field">
          <mat-label>TOTAL A PAGAR</mat-label>
          <input [disabled]="!slideChecked4.checked" matInput type="text">
        </mat-form-field>
        <mat-slide-toggle #slideChecked4>CORREGIR</mat-slide-toggle>

        <mat-form-field class="example-form-field">
          <mat-label>FECHA DE EMISIÓN</mat-label>
          <input [disabled]="!slideChecked5.checked" matInput type="text">
        </mat-form-field>
        <mat-slide-toggle #slideChecked5>CORREGIR</mat-slide-toggle>

        <mat-form-field class="example-form-field">
          <mat-label>INE</mat-label>
          <input [disabled]="!slideChecked6.checked" matInput type="text">
        </mat-form-field>
        <mat-slide-toggle #slideChecked6>CORREGIR</mat-slide-toggle>

        <mat-form-field class="example-form-field">
          <mat-label>COMPROBANTE DE DOMICILIO</mat-label>
          <input [disabled]="!slideChecked7.checked" matInput type="text">
        </mat-form-field>
        <mat-slide-toggle #slideChecked7>CORREGIR</mat-slide-toggle>
      </div>
      <p *ngIf="selectedNo.checked" class="corregir">
        RECUERDA QUE PARA PODER GORREGIR DATOS DEBES SELECCIONAR LA CASILLA <b>SI</b>
      </p>
    </div>

    <!--    CONTENEDOR DE ARCHIVOS PDF PATRA SU VISUALIZACIÓN-->
    <div class="files-containter">
      <span matTooltip="Ver Imagenes" (click)="showPDF()">PDF</span><span matTooltip="Ver PDFs" (click)="showIMG()"> IMG </span>
      <div class="files-viewer">
        <div *ngIf="fileType === 'pdf'" class="pdfContainer">
          <iframe [src]="fileUrl | safe" id="myiFrame"></iframe>
        </div>
        <div *ngIf="fileType === 'jpg'" class="pdfContainer">
          <div *ngIf="lupa.checked; else tttt">
            <div class="img-magnifier-container" id="glassContainer" (mouseenter)="ponerLupita()">
              <img id="myimage" src="{{fileUrl}}" width="600" height="400" alt="documento">
            </div>
          </div>
          <ng-template #tttt>
              <div class="img-magnifier-container" id="glassContainer">
                <img id="myimage" src="{{fileUrl}}" width="600" height="400" alt="documento">
              </div>
          </ng-template>
        </div>
      </div>



    </div>
  </div>

</main>
