<!--<app-toolbar></app-toolbar>-->
<h1>Vacantes</h1>

<mat-card class="global-card-style">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <button mat-raised-button color="primary">Solicitar vacante</button>
      </div>
      <div class="col-7">
        <mat-form-field>
          <mat-label>Filtrar</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="nombre" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="subarea">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SUBÁREA </th>
        <td mat-cell *matCellDef="let row"> {{row.subarea}}</td>
      </ng-container>

      <ng-container matColumnDef="sede">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SEDE </th>
        <td mat-cell *matCellDef="let row"> {{row.sede}}</td>
      </ng-container>

      <ng-container matColumnDef="puesto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PUESTO </th>
        <td mat-cell *matCellDef="let row"> {{row.puesto}} </td>
      </ng-container>

      <ng-container matColumnDef="estadoActual">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  style="text-align: center"> ESTADO ACTUAL </th>
        <td mat-cell *matCellDef="let row" style="text-align: center">
          <div *ngIf="!row.aprobadoADP || !row.aprobadoFinanzas || !row.aprobadoDireccionOperaciones || !row.aprobadoDireccionGeneral else vacanteLista">
            <mat-icon matTooltip="{{row.aprobadoADP === 0 ? 'Esperando aprobanción de ADP': 'Aprobado por ADP'}}"
                      [ngClass]="row.aprobadoADP === 0 ? 'sinAprobar' : 'aprobado'">
              person
            </mat-icon>
            <mat-icon matTooltip="{{row.aprobadoFinanzas === 0 ? 'Esperando aprobanción de finanzas': 'Aprobado por finanzas'}}"
                      [ngClass]="row.aprobadoFinanzas === 0 ? 'sinAprobar' : 'aprobado'">
              attach_money
            </mat-icon>
            <mat-icon matTooltip="{{row.aprobadoDireccionOperaciones === 0 ? 'Esperando aprobanción de dirección de operaciones': 'Aprobado por dirección de operaciones'}}"
                      [ngClass]="row.aprobadoDireccionOperaciones === 0 ? 'sinAprobar' : 'aprobado'">
              phone
            </mat-icon>
            <mat-icon matTooltip="{{row.aprobadoDireccionGeneral === 0 ? 'Esperando aprobanción de dirección general': 'Aprobado por dirección general'}}"
                      [ngClass]="row.aprobadoDireccionGeneral === 0 ? 'sinAprobar' : 'aprobado'">
              work
            </mat-icon>
          </div>
          <ng-template #vacanteLista>
            <mat-icon matTooltip="Vacante lista para comenzar su proceso" class="aprobado">
              check
            </mat-icon>
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row [ngClass]="
        (row.aprobadoADP && row.aprobadoFinanzas &&
         row.aprobadoDireccionOperaciones && row.aprobadoDireccionGeneral) ? 'filaAprobada': null"
          (click)="(row.aprobadoADP && row.aprobadoFinanzas &&
         row.aprobadoDireccionOperaciones && row.aprobadoDireccionGeneral) ? iniciarProceso() : null"
         *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4"></td>
      </tr>
    </table>
    <div *ngIf="input.value">No se encontro algo relacionado a tu busqueda</div>
    <mat-paginator [pageSizeOptions]="[10, 15, 20, 25]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>
