h1 {
  text-align: center;
  margin: 20px 0 0 0;
}

table {
  width: 100%;
  margin: 0;
}
//table tr:hover  {
//  background-color: #ee6969;
//  cursor: pointer;
//  transition-delay: 0.5s ;}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.controls-container {
  display: flex;
}

.example-container {
  overflow: auto;
}
.material-icons:hover {
  color: rgba(90, 90, 90, 0.82);
}

.sinAprobar {
  color: #E7A800;
}

.aprobado {
  color: #2E9F00;
}

.filaAprobada {
  cursor: pointer;
}

.filaAprobada:hover {
  background-color: rgba(69,79,164,.3);
}
