//th.mat-column-icon, td.mat-column-icon {
//  width: 40px;
//}
.folder {
  cursor: pointer;
}

.delete {
  cursor: pointer;
}

.fill-space {
  flex: 1 1 auto;
}

.version {
  font-size: 14px;
}
.fill-space {
  flex: 1 1 auto;
}

.profile {
  font-size: 14px;
  width: 200px;
}
table {
  width: 100%;
}

.mat-header-cell {
  color: white;
}

.mat-button {
  color: white;
  background-color: #354089;
}

.delete {
  color: tomato;
}

.toolbar1 {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

.regresar {
  background-color: transparent;
  color: #354089 !important;
  outline: none !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0 !important;
}
